#title  {
  font-family: 'Fjalla One', sans-serif;
  font-size: 60px;
}

.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
  border-color: black;
  background-color: black;
  color: white
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  border: 1px solid #000000;
  background-color: white;
}

.search-form-control .form-control:focus {
  border: 1px solid #dd1e1e;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

#img-list {
  height: 300px;
  width: 300px;
}
